

:root {
    --cor-de-fundo: #F2F0E4
}

body {
    background-color: var(--cor-de-fundo);
    }
    
h2{
    font-family: "Quicksand", sans-serif;
  font-size: 35px;
    text-align: center;
    
}
F2E3D5
#F2F2F2